<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
     <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>

    <style>
            /* navegation bar style to be in inline */
            ul.navbar-max {
            background-color: #f0f0f0;
            margin: 0;
            padding: 10px 0; /* Adicione preenchimento na parte superior e inferior */
            text-align: center; /* Centralize os itens de navegação horizontalmente */
            list-style: none;
            }
        
            ul.navbar-max li {
            display: inline-block;
            }

            a:link {
            text-decoration: none;
            text-align: center;
            }

            /* create a box to keep the picture and the text */
            div.jumbotron {
            width: 800px; 
            height: 950px; 
            background-color: white;
            padding: 20px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
            text-align: center;
            margin-top: 20px;
            }


            /*puting the nav on the top, the nav bar above and the contend on the midle */
            body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 1100px;
            margin: 0;
            background-color: rgb(219, 219, 219);
            }

            footer .navbar-text {
            margin-left: auto;
            margin-right: auto;
            font-size: 10px;
            margin-bottom: 0;
            color: #a559db;
        }

        /* style of the form on contact my */
         form.formaboutme {
            text-align: left;
        }

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            width: 100%; 
            padding: 10px; 
            margin-bottom: 10px; 
            border: 2px solid #ccc; 
            border-radius: 3px; 
        }

        /* table on my contact me*/
        table {
            border-collapse: collapse;
            width: 300px;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        td {
            background-color: #ffffff;
        }
        p.contac{
            text-align: left;
        }


        /* button style*/
        input[type="submit"] {
            background-color: #a559db;
            color: #fff; 
            border: none; 
            padding: 10px 20px; 
            border-radius: 3px; 
            cursor: pointer; 
        }

        input[type="submit"]:hover {
            background-color: #0056b3; 
        }


    </style>
</head>
<body>