<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <!--<img src="img/logo.png" alt="logo">-->
<main class="ontainer">
<div class="jumbotron">
    <h1>Welcome to my portfolio</h1>
    <h4>My name is Bruna Silva,</h4>
    <img src="img/logoBrunaSilva.png" alt="logo" style: width="300px" ; height="300px" class="main-logo">
    <p >... I'm 27 years old and I'm proudly Brazilian. As a Software Engineering student, I'm immersed in the exciting world of technology, and with each passing day, my passion for this field grows even more. I'm excited about the infinite possibilities that Software Engineering offers and the role it plays in transforming the world. I have big plans for my future in technology. <br>
    <p>I intend to go even deeper into my studies and develop innovative projects, with a special focus on the C# language. I firmly believe that programming is a powerful force that has and will continue to change the world. As we move forward, we will see an even greater increase in technological support around us, improving our quality of life.I have a burning desire to be part of this transformation process and contribute to a more connected, efficient and innovative world.<br></p>
    <p>I intend to go even deeper into my studies and develop innovative projects, with a special focus on the C# language. I firmly believe that programming is a powerful force that has and will continue to change the world. As we move forward, we will see an even greater increase in technological support around us, improving our quality of life.I have a burning desire to be part of this transformation process and contribute to a more connected, efficient and innovative world.<br></p>
    <p>Together, we can shape the future through technology and create solutions that benefit everyone. I'm excited to embark on this journey of discovery, learning and positive impact. Let's transform the world together! <br>In the navigation bar we can find all the services and information you need, including how you can contact me.</p>
</div>
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   